/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require trix.css
 *= require_self
 */

// Typekit fonts
@import url("https://use.typekit.net/wba4trd.css");

// Custom styles

nav.navbar {
  border-bottom: 1px solid #DADADA;
}

.button.is-rounded {
  border-radius: 30px;
  padding: 0 45px;
}

.notification.is-thinner {
  background-color: whitesmoke;
  // border-radius: 3px;
  border-radius: 0px;
  // padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  padding: 0.75rem 2.5rem 0.75rem 2.5rem;
  position: relative;
}

/// CUSTOMIZING BULMA

// 1. Import the initial variables
@import "sass/utilities/initial-variables";
@import "sass/utilities/functions";

// 2. Set your own initial variables
// Add a serif family
$family-sans-serif: "chalet-london-sixty",sans-serif;

// 3. Set the derived variables

// Use the existing orange as the danger color
$danger: $orange;
// Use the new sans serif family
$family-primary: $family-sans-serif;

// 4. Setup your Custom Colors
// $linkedin: #0077b5;
// $linkedin-invert: findColorInvert($linkedin);
// $twitter: #55acee;
// $twitter-invert: findColorInvert($twitter);
// $github: #333;
// $github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "sass/utilities/derived-variables.sass";
// $addColors: (
//   "twitter":($twitter, $twitter-invert),
//   "linkedin": ($linkedin, $linkedin-invert),
//   "github": ($github, $github-invert)
// );
// $colors: map-merge($colors, $addColors);

$navbar-height: 5em;

@import 'bulma'
